/* Styles */

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 290%;
    color: goldenrod;
    text-shadow: 1px 1px 2px gold;
    padding-bottom: 2%;
}

h2 {
    background-color: lightyellow;
    border-bottom: solid 1px gold;
    text-align: center;
    padding-bottom: 2%;
}

div p {
    font-size: 150%;
    font-weight: bold;
}

.bottom-container p {
    padding: 1% 1%;
}

img {
    width: 60%;
}

dt {
    font-size: 120%;
    color: gold;
    font-style: italic;
}

ul {
    list-style: circle;
    padding: 3% 10%;
}

/* Flex */

body {
    padding: 0 10%;
    background-image: url(images/background.jpg);
    background-size: cover;
}

main {
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.top-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding-bottom: 2%;
}

.left-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.right-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
}

aside {
    width: 80%;
    border: solid 1px gold;
}

.bottom-container {
    border: solid 1px gold;
}

/* Form */

fieldset {
    padding-bottom: 10px;
}

.input-container {
    display: flex;
    flex-direction: row;
    padding: 5px 5px;
}

.input-container select {
    height: 5%;
}

.radio-container {
    padding: 5px 5px;
}

.button-container {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    text-decoration: none;
}

.button-container a {
    display: flex;
    flex-grow: 1;
    text-decoration: none;
}

.button-container a input {
    flex-grow: 1;
}

input, textarea, label  {
    flex-grow: 1;
}

input[type=submit], [type=reset], [type=button] {
    background-color: lightyellow;
}

textarea {
    resize: vertical;
}

.marge {
    width: 10px;
}
/* Media Queries */

@media screen and (max-width: 768px) {
    body {
        padding: 0;
    }

    main {
        height: auto;
    }

    .top-container {
        flex-direction: column;
    }

    .left-container {
        margin-bottom: 2%;
    }

    img {
        width: 100%;
    }

    aside {
        margin-top: 5%;
        width: 100%;
    }

    .bottom-container {
        margin-top: 3%;
    }

    .bottom-container p {
        margin: 2% 3%;
    }
}