<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row justify-content-center mb-3">
      <div class="col-md-12 col-xl-10">
        <div>
          <input type="checkbox" [(ngModel)]="onlyAvailable" id="filter-available">
          <label for="filter-available">In stock</label>
        </div>
        <div>
          <label for="sort-by">Sort by:</label>
          <select [(ngModel)]="sort" id="sort-by">
            <option value="priceAsc">0-9</option>
            <option value="priceDesc">9-0</option>
            <option value="nameAsc">A-Z</option>
            <option value="nameDesc">Z-A</option>
          </select>
        </div>
        <div>
          <label for="filter-price">Price:</label>
          {{0 | currency: "EUR" : "symbol" }}
          <input type="range" min="0" max="2000" step="10" [(ngModel)]="priceFilter" id="filter-price">
          {{priceFilter | currency: "EUR" : "symbol" }}
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-3" *ngFor="let product of products | available: onlyAvailable | maxPrice: priceFilter | sorted: sort">
      <div class="col-md-12 col-xl-10">
        <div class="card shadow-0 border rounded-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                  <img [src]="product.image" class="w-100" />
                  <a href="#!"><div class="hover-overlay"><div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div></div></a>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <h5>{{product.title | uppercase}}</h5>
                <div class="d-flex flex-row">
                  <p>Stock:<span> {{product.quantity}}</span></p>
                </div>
                <p class="text-truncate mb-4 mb-md-0">{{product.description}}</p>
              </div>
              <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                <div class="d-flex flex-row align-items-center mb-1">
                  <h4 class="mb-1 me-1">{{product.price | currency: "EUR" : "symbol"}}</h4>
                  <span class="text-danger"><s>{{product.price + product.price/5 | currency: "EUR" : "symbol"}}</s></span>
                </div>
                <h6 class="text-success">Free shipping</h6>
                <div class="d-flex flex-column mt-4">
                  <a class="btn btn-primary btn-sm" [routerLink]=[product.id]>Details</a>
                  <button class="btn btn-outline-primary btn-sm mt-2" type="button" *ngIf="product.quantity > 0" (click)="buy(product)">Buy</button>
                  <button class="btn btn-outline-danger btn-sm mt-2" type="button" *ngIf="product.quantity == 0">Out of stock</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
