* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

header img {
  width: 100%;
}

.column {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.answer {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.1s ease-in-out;
}

.answer:hover {
    background-color: lightcoral;
}

.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.1s ease-in-out;
}

.button:hover {
    background-color: lightskyblue;
}

.green {
    background-color: green;
}

.green:hover {
    background-color: lightgreen;
}