* {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

header img {
    width: 100%;
}

.column {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.character {
    flex-grow: 1 0%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}

.character img {
    width: 150px;
    border-radius: 5%;
}