<div class="mb-4 rounded" *ngIf="Place">
  <img class="w-100" src="{{Place.image}}" alt="{{Place.name}}" height="360" style="object-fit: cover; object-position: top"/>
</div>
<div class="row mb-2" *ngIf="Place">
  <div class="col-md-10">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-2">
          <img class=" w-100 img-fluid" src="assets/logos/bar.svg" alt="Bar">
        </div>
        <div class="col-10">
          <div class="card-body">
            <h1 class="card-title">{{Place.name}}</h1>
            <p class="card-text">{{Place.type}}</p>
            <div class="d-inline-flex">
              <a class="h1" href="{{Place.contact.website}}" target="_blank" *ngIf="Place.contact.website">
                <i class="bi bi-browser-chrome text-dark"></i>
              </a>
              <a class="h1 ms-2" href="{{Place.contact.facebook}}" target="_blank" *ngIf="Place.contact.facebook">
                <i class="bi bi-facebook text-dark"></i>
              </a>
              <a class="h1 ms-2" href="{{Place.contact.instagram}}" target="_blank" *ngIf="Place.contact.instagram">
                <i class="bi bi-instagram text-dark"></i>
              </a>
              <a class="h1 ms-2" href="{{Place.contact.twitter}}" target="_blank" *ngIf="Place.contact.twitter">
                <i class="bi bi-twitter text-dark"></i>
              </a>
              <a class="h1 ms-2" href="{{Place.contact.mail}}" target="_blank" *ngIf="Place.contact.mail">
                <i class="bi bi-envelope text-dark"></i>
              </a>
            </div>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 row align-items-center">
    <div class="row text-center">
      <a class="d-flex justify-content-center mb-2" href="">
        <i class="bi bi-heart h1 text-danger"></i>
      </a>
      <p>Like</p>
      <p>(Likes: 0)</p>
    </div>
  </div>
</div>
<div class="row g-5" *ngIf="Place">
  <div class="col-md-8">
    <article class="blog-post">
      <h2 class="blog-post-title mb-1">Description</h2>
      <p class="blog-post-meta">January 1, 2021 by <a routerLink="/users/{{Place.username}}">{{Place.username}}</a></p>
      <p>{{Place.description}}</p>
    </article>
  </div>

  <div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">
      <div>
        <iframe
          class="w-100"
          height="400"
          style="border:0"
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
          [src]="MapURL | safe">
        </iframe>
      </div>
    </div>
  </div>
</div>
